body {
    font-family: helvetica;
    padding: 1em;
    max-width: 45em;
    margin: auto;
}

hr {
    border: none;
    border-top: solid 1pt black;
}

li {
    list-style-type: square;
    line-height: 1.5em;
}

p {
    line-height: 1.2em;
}

blockquote {
    font-family: times;
    border-left: solid 2pt black;
    margin-left: 0;
    padding-left: 1em;
}

table {
    margin: -0.25em;
}

th, td {
    text-align: left;
    padding: 0.25em;
}

img {
    max-width: 100%;
}
